/*******************/
/*   Page layout   */
/*******************/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}

footer {
  z-index:2000;
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 41px;*/
  border-top: 1px solid;
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}

footer > div {
  color: black;
  padding: 1em 0;
}

#menu {
  margin-left: 56px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#menu-brand {
  display: block;
  overflow: hidden;
  white-space: nowrap;

  background: black;
  position: absolute;
  left: 56px;
  margin-left: -56px;
  width: 56px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  #menu { margin-left: 250px }
  #menu-brand {
    left: 250px;
    margin-left: -250px;
    width: 250px;
  }
}


/* Sidebar */
#wrapper { margin-top: 51px; }
#page-content-wrapper { position: relative; }
#sidebar-wrapper { position: absolute; background: #222; top: 0; }
.sidebar-nav { top: 51px; }

/* Bootstrap Fix */
.navbar-right { margin-right: 0px; }
.navbar-nav { margin-left: 0px; }

/*********************/
/* Table of Contents */
/*********************/

#toc-sidebar {
  position: fixed;
  padding: 20px;
}

#toc-sidebar .nav>li {
  position: relative;
  display: block;
}

#toc-header {
  padding-top: 4px;
  padding-bottom: 4px;
}

#toc-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}

#toc-sidebar .nav>li>a:hover {
  color: #333;
  padding-left: 19px;
  background-color: transparent;
  text-decoration: none;
  border-left: 1px solid #333;
}

#toc-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

#toc-sidebar .nav>.active>ul {
  display: block;
}

#toc-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}

#toc-sidebar .nav .nav>li>a:hover {
  padding-left: 29px;
}

#toc-sidebar .nav>.active:hover>a,
#toc-sidebar .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-left: 2px solid #333;
}

#toc-sidebar .nav .nav>.active:hover>a,
#toc-sidebar .nav .nav>.active>a {
  padding-left: 28px;
  font-weight: 500;
}

/* Adjust anchors to consider fixed navbar position */
.anchor {
  padding-top: 51px;
  margin-top: -51px;
}

/*******************/
/*    Anchor JS    */
/*******************/

.anchorjs-link {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  text-decoration: none;
}

*:hover > .anchorjs-link {
  text-decoration: none;
}
